<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<% include nav/side_nav.ejs %>
<section>
    <article class="main-container">
        <div class="main-header">
            <% include nav/head_nav.ejs %>
        <div class="main-body">
            <div class="animated fadeInRight">
                <div class="body-row">
                    <div class="occupy-33">
                        <div class="padding-area-15">
                            <div class="item-box activate">
                                <div class="item-box-title">
                                    <p>Message</p>
                                </div>
                                <div class="item-box-content" id="alarm-item-box" data-activate="true">
                                    <!--<div class="form-message-box">-->
                                        <!--<small class="float-right">author</small>-->
                                        <!--<p>Test text</p>-->
                                        <!--<small class="datetime-text">Today 02:10 pm - 2018.11.08</small>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="occupy-66">
                        <div class="body-row">
                            <div class="occupy-50">
                                <div class="padding-area-15">
                                    <div class="item-box activate">
                                        <div class="item-box-title">
                                            <p>title</p>
                                        </div>
                                        <div class="item-box-content" data-activate="true">
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="occupy-50">
                                <div class="padding-area-15">
                                    <div class="item-box activate">
                                        <div class="item-box-title">
                                            <p>title</p>
                                        </div>
                                        <div class="item-box-content" data-activate="true">
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body-row">
                            <div class="occupy-100">
                                <div class="padding-area-15">
                                    <div class="item-box activate">
                                        <div class="item-box-title">
                                            <p>title</p>
                                        </div>
                                        <div class="item-box-content" data-activate="true">
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                            <p>content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-row">
                    <div class="occupy-50">
                        <div class="padding-area-15">
                            <div class="item-box activate">
                                <div class="item-box-title">
                                    <p>title</p>
                                </div>
                                <div class="item-box-content" data-activate="true">
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="occupy-50">
                        <div class="padding-area-15">
                            <div class="item-box activate">
                                <div class="item-box-title">
                                    <p>title</p>
                                </div>
                                <div class="item-box-content" data-activate="true">
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-row">
                    <div class="occupy-33">
                        <div class="padding-area-15">
                            <div class="item-box activate">
                                <div class="item-box-title">
                                    <p>title</p>
                                </div>
                                <div class="item-box-content" data-activate="true">
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="occupy-33">
                        <div class="padding-area-15">
                            <div class="item-box activate">
                                <div class="item-box-title">
                                    <p>title</p>
                                </div>
                                <div class="item-box-content" data-activate="true">
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                    <p>content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<footer></footer>
<script>
    $(document).ready(function() {
        $(".item-box-title").on('click', function() {
            const item_box = $(this).next();
            if (item_box.attr('data-activate') === "true") {
                item_slidUp(item_box);
            } else if(item_box.attr('data-activate') === 'false') {
                item_slidDown(item_box);
            }
        });

        function item_slidUp(obj) {
            obj.parent().removeClass('activate');
            obj.slideUp(250, function() {
                obj.attr('data-activate', 'false');
            });
        }

        function item_slidDown(obj) {
            obj.parent().addClass('activate');
            obj.slideDown(250, function () {
                obj.attr('data-activate', 'true');
            });
        }

        // Fill Message Box
        let testDay = moment("2018-11-6");
        for(let i=0;i<10;i++) {
            if(i > 3 && i < 7)
                testDay = moment("2018-11-7");
            else if(i>6)
                testDay = moment("2018-11-8");

            const html = '<div class="form-message-box">' +
                '<small class="float-right">author</small>' +
                '<p>Test text</p>' +
                '<small class="datetime-text">'+ calc_date(testDay) + (testDay.format("hh:mm a - YYYY.MM.DD")) +'</small>' +
                '</div>';
            $("#alarm-item-box").append(html);
        }

        function calc_date(date) {
            let dateStr = "";
            const today = moment(new Date());
            const date_diff = moment.duration(today.diff(date)).asDays();

            if(date_diff >= 0 && date_diff < 1)
                dateStr = "Today";
            else if(date_diff >= 1 && date_diff < 2)
                dateStr = "Yesterday";
            else {
                dateStr = Math.floor(date_diff) + " days ago";
            }
            dateStr += " at ";
            return dateStr;
        }
    });
</script>
</body>
</html>