<nav class="no-js">
    <div class="side-navbar">
        <div id="user_account">
            <div id="profile"></div>
            <div id="user_intro">
                <p id="user_name"></p>
                <small></small>
            </div>
        </div>
        <ul class="first-menu">
            <li>
                <a href="/main">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Board</span>
                </a>
                <ul class="second-menu" data-activate="false">
                    <li><a href="/board">Board</a></li>
                    <li><a>User</a></li>
                    <li><a>Alarm</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>Item</span>
                </a>
                <ul class="second-menu" data-activate="false">
                    <li><a href="/item">item_page</a></li>
                    <li><a href="/item/information">information</a></li>
                    <li><a>item</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>cccc</span>
                </a>
                <ul class="second-menu" data-activate="false">
                    <li><a>c1</a></li>
                    <li><a>c2</a></li>
                    <li><a>c3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>dddd</span>
                </a>
                <ul class="second-menu" data-activate="false">
                    <li><a>d1</a></li>
                    <li><a>d2</a></li>
                    <li><a>d3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>eeee</span>
                </a>
                <ul class="second-menu" data-activate="false">
                    <li><a>e1</a></li>
                    <li><a>e2</a></li>
                    <li><a>e3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function() {
        $.ajaxSetup({cache: false});

        $.ajax({
            type: "GET",
            url: "/check",
            success: function(data) {
                if(data.isLoggedIn === true) {
                    $("#user_intro > p").text(data.name);
                } else {
                    $("#user_intro > p").text("user Name");
                    $("#user_intro > small").text("Login is required.");
                }
            },
        });

        $.ajax({
            type: "GET",
            url: "/pageCheck",
            success: function(data) {
                const page = data.page;
                if(page === "main") {
                    $(".first-menu > li:first-child").addClass('activate');
                    $(".first-menu > li:first-child > a").next().attr('data-activate', 'true');
                } else if(page === "board") {
                    $(".first-menu > li:nth-child(2)").addClass('activate');
                    $(".first-menu > li:nth-child(2) > a").next().attr('data-activate', 'true');
                } else if(page === "item") {
                    $(".first-menu > li:nth-child(3)").addClass('activate');
                    $(".first-menu > li:nth-child(3) > a").next().attr('data-activate', 'true');
                }
                $('.no-js').removeClass('no-js');
            },
        });

        $(".first-menu > li > a").on('click', function () {
            const subMenu = $(this).next();
            const parentMenu = subMenu.parent();
            if (subMenu.attr('data-activate') === "true") {
                parentMenu.removeClass('activate');
                item_slidUp(subMenu);
            } else if (subMenu.attr('data-activate') === "false") {
                parentMenu.addClass('activate');
                item_slidDown(subMenu);

                const prevObj = parentMenu.prevAll();
                const nextObj = parentMenu.nextAll();
                for (let i = 0; i < prevObj.length; i++) {
                    $(prevObj[i]).removeClass('activate');
                    const otherObj = $(prevObj[i]).children('ul');
                    item_slidUp(otherObj);
                }
                for (let i = 0; i < nextObj.length; i++) {
                    $(nextObj[i]).removeClass('activate');
                    const otherObj = $(nextObj[i]).children('ul');
                    item_slidUp(otherObj);
                }
            }

            // href=# 일 경우
            if(this.getAttribute('href') === "#") { return false; }
        });

        function item_slidUp(obj) {
            obj.slideUp(250, function() {
                obj.attr('data-activate', 'false');
            });
        }

        function item_slidDown(obj) {
            obj.slideDown(250, function () {
                obj.attr('data-activate', 'true');
            });
        }

        // css을 이용한 slidUp, slidDown
        // function sideMenu_slideUp(parent, obj, state) {
        //     parent.removeClass('activate');
        //     obj.removeClass('activate');
        //     setTimeout(function() {
        //         obj.attr('data-activate', 'false');
        //         if(state == false) { transitionState = state }
        //     }, 350);
        // }
        //
        // function sideMenu_slideDown(parent, obj) {
        //     parent.addClass('activate');
        //     obj.attr('data-activate', "true");
        //     obj.addClass('activate');
        //     const size = ((obj.children("li").length) * (obj.children("li").height() + 4));
        //     console.log(size);
        //     obj.height(size);
        //     setTimeout(function () {
        //         // obj.addClass('activate');
        //         obj[0].addEventListener("transitionend", function () {
        //             transitionState = false;
        //         });
        //     }, 0);
        // }
    });
</script>